@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kokab Online Shop</h1>
    <p class="lead">Kokab Online Shop is determined to provide your desired product at cheapest rate.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Huge Products Collection</h2>
        <p>We have over 2000+ Products in our shop.From those huge amount of product you can easily find your desired one.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cheapest Rate</h2>
        <p>You can buy your favorite product at cheapest rate from Kokab Online Shop</p>
    </div>
    <div class="col-md-4">
        <h2>20 Days Warrenty</h2>
        <p>We provide 20 days warrenty on selected products so you can buy products without any hagitation.</p>
    </div>
</div>